* {
    box-sizing: border-box;
}
body{
	font-style: oblique;
	font-family: "TIMES NEW ROMAN",sans-serif;
	background-color: aliceblue;
	font-size: 1.4em;


}
h1{

	color: inherit;
	text-shadow: 1px 1px 1px black;
}
.jumbotron
{
			background-color: #90ee9038;
			box-shadow: 2px 2px 2px black;
			color: #00800059;
}
li{
	list-style: none;
}
nav a{
	color: white;
}
nav a:hover{
	color:white;
}